{% extends "auctions/layout.html" %} {% block body %}

<h2 style="margin-bottom: 40px">Listings under {{ category }}</h2>

{% if listings %}
<div class="container">
  <div class="row">
    {% for listing in listings %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img
          class="card-img-top"
          src="{{ listing.image }}"
          alt="Listing Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ listing.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Price: ${{ listing.current_price }}
          </h6>
          <p class="card-text">{{ listing.description }}</p>
          <a href="{% url 'listing_page' listing.id %}" class="btn btn-primary"
            >View Listing</a
          >
        </div>
        <div class="card-footer">
          <small class="text-muted">Available until {{ listing.end_date }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">No listings found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %} {% endblock %}
