{% extends "auctions/layout.html" %} 
{% block body %}
<h2>Browse Available Auction Items</h2>

{% for listing in listings %}
{% if not listing.closed %}

<div
  class="row"
  style="border: 1px solid #e5e7eb; margin: 5px; margin-bottom: 20px; border-radius: 0.4em"
>
  <div class="col-4 d-flex align-items-center">
    <img
      src="{{ listing.image }}"
      alt="Listing Image"
      class="img-fluid"
      style="width: 350px; padding: 20px"
    />
  </div>

  <div class="col">
    <a href="{% url 'listing_page' listing.id %}">
      <h4 style="padding-top: 20px">{{ listing.title }}</h4>
    </a>
    <h6 style="padding-top: 10px">Price: ${{ listing.current_price }}</h6>
    <p style="padding-top: 20px">{{ listing.description }}</p>
    <p style="color: gray">Added on {{ listing.start_date }}</p>
  </div>
</div>
{% endif %}

{% endfor %} 
{% endblock %}
