{% extends "auctions/layout.html" %} {% block body %}
<h2>Listing: {{ listing.title }}</h2>
{% if listing.image %} {% if watchlist %}
<div
  style="
    background-color: gray;
    color: white;
    padding: 3px;
    width: 70px;
    border-radius: 10px;
    height: 25px;
    align-items: center;
    font-weight: 600;
    font-size: small;
    text-align: center;
  "
>
  <p>Watchlist</p>
</div>
{% endif %}
<div style="display: flex; justify-content: left">
  <img
    src="{{ listing.image }}"
    alt="Listing Image"
    class="img-fluid"
    style="width: 500px; padding: 30px"
  />
  {% endif %}
</div>
<p>{{ listing.description }}</p>
<h3>${{ listing.current_price }}</h3>
<h4>Details</h4>
<ul>
  <li>Listed by: 
    <a href="{% url 'user' listing.seller.id %}">{{ listing.seller }}</a>
  </li>
  <li>Category: {{ listing.category }}</li>
</ul>
<h4>Added: {{ listing.start_date }}</h4>
<h4>Available until {{ listing.end_date }}</h4>
{% if user.is_authenticated %}
{% if watchlist %}
<p>This listing is already in your watchlist.</p>
{% else %}
<p>This listing is not in your watchlist.</p>
<form method="POST" action="{% url 'watchlist' %}" name="addForm">
  {% csrf_token %}
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <button type="submit" class="btn btn-primary" name="addForm">
    Add to Watchlist
  </button>
</form>
{% endif %} 
{% endif %} 

{% endblock %}
