{% extends "auctions/layout.html" %}
{% block body %}
<h2>Watchlist</h2>
{% if watchlist %}
  {% for watchlist_item in watchlist %}
  <div class="row" style="border: 2px solid gainsboro; margin: 5px; border-radius: 0.2em">
    <div class="col-3">
      <img src="{{ watchlist_item.listings.first.image }}" alt="Listing Image" class="img-fluid" style="width: 300px" />
    </div>
    <div class="col">
      <h4 style="padding-top: 20px">{{ watchlist_item.listings.first.title }}</h4>
      <h6 style="padding-top: 10px">Price: ${{ watchlist_item.listings.first.current_price }}</h6>
      <p style="padding-top: 20px">{{ watchlist_item.listings.first.description }}</p>
      <p style="color: gray">Created {{ watchlist_item.listings.first.start_date }}</p>
    </div>
  </div>
  {% endfor %}
{% else %}
  <p>Your Watchlist is empty.</p>
{% endif %}
{% endblock %}
