@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  font-family: "Nunito", sans-serif;
}

.nav-link:hover {
  background-color: #54b4d3;
  border-radius: 20px;
  -webkit-text-fill-color: white;
}
.navbar-brand.mb-0.h1 {
  user-select: none;
}
.hidden {
  display: none;
}

.card-text {
  display: flex;
  align-items: center;
}

.like-icon {
  width: auto;
  height: 2em;
  margin-right: 0.5em;
}

.like-count {
  font-size: 1em;
  color: #aab8c2;
  user-select: none !important;
}

.btn.btn-danger {
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  margin-left: 30px;
}

html {
  font-size: 1rem;
}
